.modal-button {
  width: 80px;
  height: 40px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.modal-button.modal-button-close {
  background-color: white;
  color: rgb(160, 0, 0);
  border: 1.5px solid rgb(160, 0, 0);
}
.modal-button.modal-button-order {
  background-color: rgb(160, 0, 0);
  color: white;
}
